p, h2 {
  margin-bottom: 0; }

button {
  background: none;
  border: none; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

h1 {
  font-size: 36px;
  color: #13191f;
  padding-top: 95px;
  padding-bottom: 12px; }

h2 {
  font-size: 18px;
  color: #13191f; }

h2.subtitle {
  font-size: 30px; }

.max-container {
  max-width: 1200px;
  margin: 0 auto; }

.button-size {
  min-width: 190px;
  min-height: 34px; }

.header-row {
  min-height: 60px; }

.header-blue {
  background-color: #17b2e6; }

.header-text {
  font-size: 14px;
  color: #fff;
  display: inline-block; }

.header-text_big {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  padding-right: 30px; }

.header-text_pr {
  padding-right: 24px; }

.header-icon_pr {
  display: inline-block;
  padding-right: 8px; }

.header-button {
  background-color: #71b100;
  border: 1px solid; }

.nav-height {
  min-height: 77px; }

.nav-items {
  display: inline-block; }
  .nav-items::after {
    content: ":";
    margin: 0 20px; }
  .nav-items:last-of-type {
    margin-bottom: 10px; }
    .nav-items:last-of-type::after {
      content: "";
      margin: 0; }
  .nav-items a {
    color: #0a1018; }

.nav-button {
  background-color: #f16468;
  margin-left: 33px; }

.description_of_protection img {
  display: block;
  margin: 0 auto 24px; }

.description_of_protection span {
  font-size: 14px;
  color: #13191f;
  display: inline-block;
  line-height: 14px; }

.border_dot_green {
  min-height: 1px;
  border: 1px dotted #c2db97;
  margin: 35px 0; }

.one {
  position: relative;
  min-height: 690px; }
  .one::before {
    content: "";
    position: absolute;
    width: 100%;
    opacity: .46;
    min-height: 690px;
    background-repeat: no-repeat;
    background-image: url("../img/block1/bg1.png");
    background-position: center;
    background-size: cover; }
  .one p {
    color: #13191f; }

.border-h1_top {
  width: 624px;
  border-bottom: 2px solid #17b2e6;
  margin: 0 auto 2px; }

.border-h1_bottom {
  width: 340px;
  border-bottom: 1px solid #17b2e6;
  margin: 0 auto 80px; }

.search-code {
  margin-top: 30px;
  margin-bottom: 25px; }
  .search-code input {
    width: 570px;
    height: 47px;
    border: 2px solid #13191f;
    border-radius: 25px;
    padding-left: 28px;
    text-align: left;
    position: relative;
    z-index: 1; }
    .search-code input ::-webkit-input-placeholder,
    .search-code input :-moz-placeholder,
    .search-code input ::-moz-placeholder,
    .search-code input :-ms-input-placeholder {
      opacity: .46; }

.search-code button {
  background-color: #71b100;
  font-size: 18px;
  color: #fff;
  width: 250px;
  height: 47px;
  position: relative;
  left: -25px;
  top: 2px; }

.two-title-container {
  padding: 35px 0;
  background-color: #d1f0fa; }

.request-call {
  background-color: #eaeaeb;
  padding-bottom: 32px; }
  .request-call input {
    width: 100%;
    background: none;
    border: 2px solid #a9abae;
    height: 46px;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 14px;
    color: #13191f;
    margin: 32px 0; }
  .request-call button {
    background-color: #17b2e6;
    color: #fff;
    font-size: 18px;
    width: 260px;
    height: 45px;
    margin: 0 auto;
    display: block; }

.three {
  padding-bottom: 50px; }
  .three h2 {
    margin: 30px 0; }
  .three p {
    font-size: 14px; }
  .three img {
    display: block;
    margin: 0 auto; }

.result-title {
  font-size: 18px;
  color: #13191f;
  display: block; }

.border_dot_gray {
  min-height: 1px;
  border: 1px dotted #a6a6a6;
  margin: 21px 0; }

.border-line-gray {
  min-height: 1px;
  border: 1px solid #adafb1;
  margin-top: 22px; }

.line-gray {
  background-color: #adafb1;
  height: 1px;
  width: 48px;
  display: block;
  transform: rotate(90deg);
  margin: 8px auto 0; }

.line-gray_mt22 {
  margin-top: 22px; }

.circle-green {
  width: 14px;
  height: 14px;
  background-color: #71b100;
  display: block;
  border-radius: 25px;
  margin: 23px auto 15px; }

.description_img {
  color: #000610;
  display: block;
  line-height: 18px;
  margin: 20px auto 8px;
  font-size: 18px; }
