p, h2 {
  margin-bottom: 0; }

button {
  background: none;
  border: none; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

h1 {
  font-size: 36px;
  color: #13191f;
  padding-top: 95px;
  padding-bottom: 12px; }

h2 {
  font-size: 18px;
  color: #13191f; }

h2.subtitle {
  font-size: 30px;
  position: relative;
  z-index: 1; }

.max-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.button-size {
  min-width: 190px;
  min-height: 34px; }

.header-row {
  min-height: 60px; }

.header-blue {
  background-color: #17b2e6; }

.text {
  font-size: 14px;
  display: inline-block; }

.text_white {
  color: #fff; }

.text_black {
  color: #090f17; }

.text_big {
  font-size: 18px;
  display: inline-block;
  padding-right: 30px; }

.header-text_pr {
  padding-right: 24px; }

.header-icon_pr {
  display: inline-block;
  padding-right: 8px; }

.header-button {
  background-color: #71b100;
  border: 1px solid; }

.nav-height {
  min-height: 77px; }

.nav-items {
  display: inline-block; }
  .nav-items::after {
    content: ":";
    margin: 0 20px; }
  .nav-items:last-of-type {
    margin-bottom: 10px; }
    .nav-items:last-of-type::after {
      content: "";
      margin: 0; }
  .nav-items a {
    color: #0a1018; }

.nav-button {
  background-color: #f16468;
  margin-left: 33px; }

.description_of_protection img {
  display: block;
  margin: 0 auto 24px; }

.description_of_protection span {
  font-size: 14px;
  color: #13191f;
  display: inline-block;
  line-height: 14px; }

.border_dot_green {
  min-height: 1px;
  border: 1px dotted #c2db97;
  margin: 35px 0; }

.one {
  position: relative;
  min-height: 690px; }
  .one::before {
    content: "";
    position: absolute;
    width: 100%;
    opacity: .46;
    min-height: 690px;
    background-repeat: no-repeat;
    background-image: url("../img/block1/bg1.png");
    background-position: center;
    background-size: cover; }
  .one p {
    color: #13191f; }

.border-h1_top {
  width: 624px;
  border-bottom: 2px solid #17b2e6;
  margin: 0 auto 2px; }

.border-h1_bottom {
  width: 340px;
  border-bottom: 1px solid #17b2e6;
  margin: 0 auto 80px; }

.search-code {
  margin-top: 30px;
  margin-bottom: 25px; }
  .search-code input {
    width: 570px;
    height: 47px;
    border: 2px solid #13191f;
    border-radius: 25px;
    padding-left: 28px;
    text-align: left;
    position: relative;
    z-index: 1; }
    .search-code input ::-webkit-input-placeholder,
    .search-code input :-moz-placeholder,
    .search-code input ::-moz-placeholder,
    .search-code input :-ms-input-placeholder {
      opacity: .46; }

.search-code button {
  background-color: #71b100;
  font-size: 18px;
  color: #fff;
  width: 250px;
  height: 47px;
  position: relative;
  left: -25px;
  top: 2px; }

.two-title-container {
  padding: 35px 0;
  background-color: #d1f0fa; }

.request-call {
  padding-bottom: 32px;
  position: relative;
  z-index: 1; }
  .request-call input {
    width: 100%;
    background: none;
    border: 2px solid #a9abae;
    height: 46px;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 14px;
    color: #13191f;
    margin: 32px 0; }
  .request-call button {
    background-color: #17b2e6;
    color: #fff;
    font-size: 18px;
    width: 260px;
    height: 45px;
    margin: 0 auto;
    display: block; }

.request-call-bg {
  background-color: #eaeaeb; }

.three {
  padding-bottom: 50px; }
  .three h2 {
    margin: 30px 0; }
  .three p {
    font-size: 14px; }
  .three img {
    display: block;
    margin: 0 auto; }

.result-title {
  font-size: 18px;
  color: #13191f;
  display: block; }

.border_dot_gray {
  min-height: 1px;
  border: 1px dotted #a6a6a6;
  margin: 21px 0; }

.border-line-gray {
  min-height: 1px;
  border: 1px solid #adafb1;
  margin-top: 22px; }

.line-gray {
  background-color: #adafb1;
  height: 1px;
  width: 48px;
  display: block;
  transform: rotate(90deg);
  margin: 8px auto 0; }

.line-gray_mt22 {
  margin-top: 22px; }

.circle-green {
  width: 14px;
  height: 14px;
  background-color: #71b100;
  display: block;
  border-radius: 25px;
  margin: 23px auto 15px; }

.description_img {
  color: #000610;
  display: block;
  line-height: 18px;
  margin: 20px auto 8px;
  font-size: 18px; }

.four {
  position: relative;
  z-index: 1;
  padding: 60px 0; }
  .four::after {
    content: "";
    position: absolute;
    width: 100%;
    opacity: .46;
    top: 0;
    height: 100%;
    background-image: url("../img/bg4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .four p {
    max-width: 562px;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1.14; }
  .four button {
    background-color: #71b100;
    color: #fff;
    width: 390px;
    height: 50px;
    border-radius: 25px;
    font-size: 24px; }

.five {
  padding: 50px 0; }

.product-title {
  font-size: 24px;
  color: #13191f;
  margin-bottom: 15px; }

.product-subtitle {
  font-size: 18px;
  color: #13191f;
  margin-bottom: 25px;
  line-height: 23px; }

.product-description {
  font-size: 14px;
  color: #13191f;
  margin-bottom: 20px; }

.description button {
  background-color: #17b2e6;
  color: #fff;
  font-size: 18px;
  width: 240px;
  height: 48px;
  margin-bottom: 40px; }

.slick-prev:before, .slick-next:before {
  color: #000; }

.slick-slide img {
  margin: 0 auto; }

.six {
  position: relative;
  z-index: 1;
  padding: 45px 0; }
  .six::after {
    content: "";
    position: absolute;
    width: 100%;
    opacity: .46;
    top: 0;
    height: 100%;
    background-image: url("../img/block3-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .six p {
    font-size: 24px;
    padding-top: 30px; }

.number {
  font-size: 72px;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f16468;
  border-radius: 40px;
  height: 80px;
  margin-right: 10px;
  width: 160px; }

.seven {
  padding: 40px 0 50px; }
  .seven img {
    padding: 25px 0 40px; }
  .seven button {
    font-size: 24px;
    color: #fff;
    background-color: #17b2e6;
    width: 500px;
    height: 55px; }

.eight {
  position: relative;
  z-index: 1;
  padding: 60px 0; }
  .eight::after {
    content: "";
    position: absolute;
    width: 100%;
    opacity: .46;
    top: 0;
    height: 100%;
    background-image: url("../img/block4-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .eight p {
    max-width: 562px;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1.14; }
  .eight button {
    background-color: #71b100;
    color: #fff;
    width: 390px;
    height: 50px;
    border-radius: 25px;
    font-size: 24px; }

.request-call-eight input {
  border: 1px solid #575c60;
  background: #fff; }

.request-call-eight button {
  background-color: #17b2e6; }

.nine {
  padding: 35px 0 55px; }
  .nine h2 {
    padding-bottom: 24px; }

.certificats {
  padding-top: 35px; }
  .certificats img {
    border: 5px solid #71b100; }

.footer-gray {
  background-color: #dcdde0;
  color: #090f17;
  margin-top: -6px; }

.footer-button {
  background: none;
  border: 1px solid #71b100; }

.btn-up {
  background-color: #71b100;
  color: #fff;
  height: 40px;
  width: 30px; }
