$font-size: 14px;
$font-size-big: 18px;
$font-size-subtutle: 30px;
$color-dark-blue: #13191f;
$color-green: #71b100;
$color-red: #f16468;
$color-blue: #17b2e6;
$color-gray: #a6a6a6;
$color-dark-gray: #adafb1;
$color-light-green: #c2db97;


p, h2
  margin-bottom: 0

button
  background: none;
  border: none;

ul
  padding-left: 0;
  margin-bottom: 0

h1
  font-size: 36px;
  color: $color-dark-blue;
  padding-top: 95px;
  padding-bottom: 12px

h2
  font-size: $font-size-big;
  color: $color-dark-blue;

h2.subtitle
  font-size: $font-size-subtutle;
  position: relative;
  z-index: 1;



.max-container
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

.button-size 
  min-width: 190px;
  min-height: 34px;

.header-row
  min-height: 60px;

.header-blue
  background-color: $color-blue;

.text
  font-size: $font-size;
  display: inline-block;

.text_white
  color: #fff;

.text_black
  color: #090f17;

.text_big
  font-size: 18px;
  display: inline-block;
  padding-right: 30px

.header-text_pr
  padding-right: 24px

.header-icon_pr
  display: inline-block
  padding-right: 8px

.header-button
  background-color: $color-green;
  // padding: 5.5px 32px;
  border: 1px solid;



.nav-height
  min-height: 77px;

.nav-items
  display: inline-block
  &::after
    content: ":";
    margin: 0 20px;
  &:last-of-type
    margin-bottom: 10px;
    &::after
      content: "";
      margin: 0;
  & a
    color: #0a1018;

.nav-button
  background-color: $color-red;
  margin-left: 33px


.description_of_protection
  & img
    display: block;
    margin: 0 auto 24px;
  & span
    font-size: $font-size;
    color: $color-dark-blue;
    display: inline-block;
    line-height: 14px

.border_dot_green
  min-height: 1px;
  border: 1px dotted $color-light-green;
  margin: 35px 0;

.one
  position: relative;
  min-height: 690px;
  &::before
    content: "";
    position: absolute;
    width: 100%;
    opacity: .46;
    min-height: 690px;
    background-repeat: no-repeat;
    background-image: url("../img/block1/bg1.png");
    background-position: center;
    background-size: cover;
  & p
    color: $color-dark-blue;


.border-h1_top
  width: 624px;
  border-bottom: 2px solid $color-blue;
  margin: 0 auto 2px;

.border-h1_bottom
  width: 340px;
  border-bottom: 1px solid $color-blue;
  margin: 0 auto 80px;  

.search-code 
  margin-top: 30px;
  margin-bottom: 25px;
  & input
    width: 570px;
    height: 47px;
    border: 2px solid #13191f;
    border-radius: 25px;
    padding-left: 28px;
    text-align: left;
    position: relative;
    z-index: 1;
    & ::-webkit-input-placeholder,
    & :-moz-placeholder,
    & ::-moz-placeholder,
    & :-ms-input-placeholder
      opacity: .46;

.search-code button
  background-color: $color-green;
  font-size: $font-size-big;
  color: #fff;
  width: 250px;
  height: 47px;
  position: relative;
  left: -25px;
  top: 2px



.two-title-container
  padding: 35px 0;
  background-color: #d1f0fa;

.request-call
  padding-bottom: 32px;
  position: relative;
  z-index: 1;
  & input
    width: 100%;
    background: none;
    border: 2px solid #a9abae;
    height: 46px;

    padding-left: 20px;
    border-radius: 25px;
    font-size: $font-size;
    color: $color-dark-blue;
    margin: 32px 0;
  & button
    background-color: $color-blue
    color: #fff;
    font-size: $font-size-big;
    width: 260px;
    height: 45px;
    margin: 0 auto;
    display: block;

.request-call-bg
  background-color: #eaeaeb;

.three
  padding-bottom: 50px;
  & h2
    margin: 30px 0;
  & p
    font-size: $font-size;
  & img
    display: block;
    margin: 0 auto;

.result-title
  font-size: $font-size-big;
  color: $color-dark-blue;
  display: block;

.border_dot_gray
  min-height: 1px;
  border: 1px dotted $color-gray;
  margin: 21px 0;

.border-line-gray
  min-height: 1px;
  border: 1px solid $color-dark-gray;
  margin-top: 22px;

.line-gray
  background-color: $color-dark-gray;
  height: 1px;
  width: 48px;
  display: block;
  transform: rotate(90deg);
  margin: 8px auto 0;

.line-gray_mt22
  margin-top: 22px;

.circle-green
  width: 14px;
  height: 14px;
  background-color: $color-green;
  display: block;
  border-radius: 25px;
  margin: 23px auto 15px;

.description_img
  color: #000610;
  display: block;
  line-height: 18px;
  margin: 20px auto 8px;
  font-size: $font-size-big

.four
  position: relative;
  z-index: 1;
  padding: 60px 0;
  &::after
    content: "";
    position: absolute;
    width: 100%;
    opacity: .46;
    top: 0;
    height: 100%;
    background-image: url("../img/bg4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  & p
    max-width: 562px;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1.14;
  & button
    background-color: $color-green;
    color: #fff;
    width: 390px;
    height: 50px;
    border-radius: 25px;
    font-size: 24px;

.five
  padding: 50px 0;

.product-title
  font-size: 24px;
  color: $color-dark-blue;
  margin-bottom: 15px;

.product-subtitle
  font-size: 18px;
  color: $color-dark-blue;
  margin-bottom: 25px;
  line-height: 23px;

.product-description
  font-size: $font-size
  color: $color-dark-blue;
  margin-bottom: 20px;

.description
  & button
    background-color: $color-blue;
    color: #fff;
    font-size: $font-size-big;
    width: 240px;
    height: 48px;
    margin-bottom: 40px

.slick-prev:before, .slick-next:before
  color: #000;

.slick-slide img
  margin: 0 auto;

.six
  position: relative;
  z-index: 1;
  padding: 45px 0;
  &::after
    content: "";
    position: absolute;
    width: 100%;
    opacity: .46;
    top: 0;
    height: 100%;
    background-image: url("../img/block3-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  & p
    font-size: 24px;
    padding-top: 30px

.number
  font-size: 72px;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-red;
  border-radius: 40px;
  height: 80px;
  margin-right: 10px;
  width: 160px;

.seven
  padding: 40px 0 50px;
  & img
    padding: 25px 0 40px;
  & button
    font-size: 24px;
    color: #fff;
    background-color: $color-blue;
    width: 500px;
    height: 55px;

.eight
  position: relative;
  z-index: 1;
  padding: 60px 0;
  &::after
    content: "";
    position: absolute;
    width: 100%;
    opacity: .46;
    top: 0;
    height: 100%;
    background-image: url("../img/block4-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  & p
    max-width: 562px;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1.14;
  & button
    background-color: $color-green;
    color: #fff;
    width: 390px;
    height: 50px;
    border-radius: 25px;
    font-size: 24px;

.request-call-eight
  & input
    border: 1px solid #575c60;
    background: #fff;
  & button
    background-color: $color-blue;


.nine
  padding: 35px 0 55px;
  & h2
    padding-bottom: 24px;
.certificats
  padding-top: 35px;
  & img
    border: 5px solid $color-green;

.footer-gray
  background-color: #dcdde0;
  color: #090f17;
  margin-top: -6px

.footer-button
  background: none;
  // padding: 5.5px 32px;
  border: 1px solid $color-green;

.btn-up
  background-color: $color-green;
  color: #fff;
  height: 40px;
  width: 30px;
